* {
    box-sizing: border-box;
}

body {
    --text-color: white;
    --background-color: black;
    max-width: 1450px;
    margin: auto;

    background-color: var(--background-color);
    /* text-align: center; */
    font-family: "Bungee", sans-serif, monospace;
    font-weight: 400;
    font-style: normal;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "navbar navbar navbar"
        "sidebar main powers"
        "sidebar footer powers";
}

.navbar {
    grid-area: navbar;
    border: 15px inset rgb(147, 147, 147);
    background-color: #bababa;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.global-info {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.global-info div {
    font-size: clamp(18px, 3vw, 28px);
    padding: 1rem;
    border: 7px inset rgb(147, 147, 147);
    background-color: #bababa;
}

.game-container {
    grid-area: main;
    height: max-content;
    display: flex;
    justify-content: center;
}

.leader-board {
    background-color: #bababa;
    width: 95%;
    max-height: 500px;
    border: 7px inset rgb(0, 0, 0);
}

.leader-board h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 2.5rem;
    margin: 0;
}

.leader-board-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: var(--text-color);
    max-height: 235px;
}

.leader-board .record {
    border: 7px inset rgb(147, 147, 147);
    background-color: #bababa;
    padding: 0.5rem;
    color: black;
}

table {
    background-color: black;
    display: table;
    table-layout: fixed;
    width: min(250px, calc(10rem + 10px), 550px);
    height: min(250px, calc(10rem + 10px), 550px);
    border: 15px inset rgb(147, 147, 147);
}

.cell {
    position: relative;
    background-color: #bababa;
    width: clamp(45px, 5vw, 50px);
    height: clamp(45px, 5vw, 50px);
    font-size: 32px;
    cursor: pointer;
    text-align: center;
}

.cell:hover {
    background-color: rgb(207, 207, 207);
}

.powers-container {
    grid-area: powers;
    height: 100%;
    width: 200px;
}

.round-powers {
    display: flex;
    flex-direction: column;
    height: 90%;
    border: 15px inset rgb(147, 147, 147);
    background-color: #bababa;

    color: var(--text-color);
}

.round-powers div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-align: right;
    font-size: 2rem;
    border: 15px outset rgb(228, 228, 228);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    height: 90%;
    border: 15px inset rgb(147, 147, 147);
    background-color: #bababa;
}

.buttons-container .size-button {
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 7px;
    background-color: #bababa;
    border: 15px outset rgb(228, 228, 228);
    font-family: unset;
    color: var(--text-color);
}

.undo-redo {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.undo-redo button {
    width: 50%;
    height: 80px;
    font-size: 2rem;
    border: 15px outset rgb(228, 228, 228);
    background-color: #bababa;
    cursor: pointer;
}

.undo-redo button:hover {
    background-color: #a8a8a8;
}

.covered {
    position: relative;
}

.covered::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #bdbdbd;
    user-select: none;
    box-sizing: content-box;
    box-shadow:
        inset 3px 3px 0px 0px #ffffff,
        inset -3px -3px 0px 0px #7b7b7b;
}

.covered.flagged::before {
    content: "🚩";
}

.smiley-guy {
    cursor: pointer;
}

.smiley-guy:hover {
    background-color: rgb(235, 235, 235);
}

.header h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
}

.header span {
    color: rgb(255, 0, 0);
    font-size: 4rem;
}

.safe::before {
    background-color: green;
}

footer button {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
}

.hints,
.safe-click,
.exterminator,
.super-hint,
.menaul-place-mode {
    cursor: pointer;
}

.player-name-modal-container,
.seed-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.375);
    width: 100%;
    height: 100%;
}

.player-name-modal,
.seed-modal {
    position: absolute;
    background-color: #bababa;
    width: 450px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    box-shadow:
        inset 3px 3px 0px 0px #ffffff,
        inset -3px -3px 0px 0px #7b7b7b;
}

.player-name-modal input,
.seed-modal input {
    margin: 10px auto;
    width: 80%;
    height: 3rem;
    font-size: 2rem;
    font-family: inherit;
    text-align: center;
    background-color: transparent;
    border: unset;
    border-bottom: 2px solid black;
    outline: none;
}

.player-name-modal button,
.seed-modal button {
    width: 120px;
    height: 45px;
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: #bababa;
    border: unset;
    box-shadow:
        inset 3px 3px 0px 0px #ffffff,
        inset -3px -3px 0px 0px #7b7b7b;

    cursor: pointer;
}

.player-name-modal button:hover {
    background-color: #989898;
}

.hidden {
    display: none;
}

.highlight-power {
    background-color: rgb(255, 255, 190);
}

@media (max-width: 1080px) {
    body {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "navbar navbar navbar"
            "main main main"
            "sidebar footer powers";
    }

    .header h1 {
        font-size: 2rem;
    }
}

.cell.super-hint-highlight-preview::before {
    background-color: rgb(157, 0, 255);
}
