body {
    background-color: black;
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.game-container {
    background-color: rgb(179, 179, 179);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding: 1rem;
    gap: 1rem;
}

table {
    border: 1px solid white;
    width: 100%;
    border-collapse: collapse;
}

.cell {
    position: relative;
    background-color: rgb(231, 231, 231);
    width: calc(200px / 4);
    height: calc(200px / 4);
    cursor: pointer;
    border: 1px solid black;
    font-size: 2rem;
    box-shadow:
        inset 1px 1px 2px 0px rgb(95, 95, 95),
        inset -1px -1px 2px 0px rgb(76, 76, 76);
}

.cell:hover {
    background-color: rgb(207, 207, 207);
}

.round-info {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
    padding-block: 1rem;
}

.round-info div {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem;
    border: 1px solid black;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.buttons-container button {
    background-color: rgb(255, 221, 221);
    border: none;
    cursor: pointer;
    width: fit-content;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 7px;
}

.covered {
    position: relative;
}

.covered::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    user-select: none;
}

.smiley-guy {
    cursor: pointer;
}

.smiley-guy:hover {
    background-color: rgb(235, 235, 235);
}
