body {
  background-color: black;
  text-align: center;
}

.game-container {
  background-color: rgb(179, 179, 179);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  margin: 100px auto;
  padding: 1rem;
  gap: 1rem;
}

table {
  border: 1px solid white;
  width: 100%;
  border-collapse: collapse;
}

.cell {
  background-color: white;
  width: calc(250px / 4);
  height: calc(250px / 4);
  cursor: pointer;
  border: 1px solid black;
  font-size: 2rem;
}

.cell:hover {
  background-color: rgb(207, 207, 207);
}

.round-info {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 100%;
  height: fit-content;
  padding-block: 1rem;
}

.round-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: green;
  width: 50px;
  height: 50px;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
  width: 100%;
}

.buttons-container button {
  background-color: rgb(255, 221, 221);
  border: none;
  cursor: pointer;
}
