body {
    background-color: rgb(0, 0, 0);
    /* text-align: center; */
    font-family: "Bungee", sans-serif, monospace;
    font-weight: 400;
    font-style: normal;
}

.game-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    padding: 1rem;
    gap: 1rem;
}

.leader-board {
    background-color: #bababa;
    width: 65%;
    margin: 0 auto;
    max-height: 500px;
    border: 15px inset rgb(0, 0, 0);
}

.leader-board h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
}

.leader-board-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: white;
    max-height: 300px;
}

.leader-board .record {
    border: 7px inset rgb(147, 147, 147);
    background-color: #bababa;
    padding: 0.5rem;
    color: black;
}

table {
    display: table;
    width: 100%;
    border: 15px inset rgb(147, 147, 147);
}

.cell {
    position: relative;
    background-color: #bababa;
    min-width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    box-sizing: border-box;
}

.cell:hover {
    background-color: rgb(207, 207, 207);
}

.round-info {
    display: flex;
    flex-direction: column;
    color: white;
    border: 15px inset rgb(147, 147, 147);
    background-color: #bababa;
}

.round-info div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    text-align: right;
    font-size: 2rem;
    border: 15px outset rgb(228, 228, 228);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    border: 15px inset rgb(147, 147, 147);
    background-color: #bababa;
}

.buttons-container button {
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 7px;
    background-color: #bababa;
    border: 15px outset rgb(228, 228, 228);
}

.covered {
    position: relative;
}

.covered::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #bdbdbd;
    user-select: none;
    box-sizing: content-box;
    box-shadow:
        inset 3px 3px 0px 0px #ffffff,
        inset -3px -3px 0px 0px #7b7b7b;
}

.smiley-guy {
    cursor: pointer;
}

.smiley-guy:hover {
    background-color: rgb(235, 235, 235);
}

.header h1 {
    color: white;
    text-align: center;
}

.header span {
    color: red;
    font-size: 2.5rem;
}
