body {
    --text-color: white;
    --background-color: black;
    background-color: var(--background-color);
    /* text-align: center; */
    font-family: "Bungee", sans-serif, monospace;
    font-weight: 400;
    font-style: normal;
    transform: perspective(1500px) rotateX(5deg);
    transform-origin: center top;
}

.game-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    margin-top: 0;
    padding: 1rem;
    gap: 1rem;
}

.leader-board {
    background-color: #bababa;
    width: 55%;
    margin: 0 auto;
    max-height: 500px;
    border: 15px inset rgb(0, 0, 0);
}

.leader-board h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 3rem;
}

.leader-board-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: var(--text-color);
    max-height: 300px;
}

.leader-board .record {
    border: 7px inset rgb(147, 147, 147);
    background-color: #bababa;
    padding: 0.5rem;
    color: black;
}

table {
    background-color: black;
    display: table;
    width: 100%;
    border: 15px inset rgb(147, 147, 147);
}

.cell {
    position: relative;
    background-color: #bababa;
    min-width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 21px;
    text-align: center;
    box-sizing: border-box;
}

.cell:hover {
    background-color: rgb(207, 207, 207);
}

.round-info {
    display: flex;
    flex-direction: column;
    height: max-content;
    color: var(--text-color);
    border: 15px inset rgb(147, 147, 147);
    background-color: #bababa;
}

.round-info div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    text-align: right;
    font-size: 2rem;
    border: 15px outset rgb(228, 228, 228);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    border: 15px inset rgb(147, 147, 147);
    background-color: #bababa;
}

.buttons-container .size-button {
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 7px;
    background-color: #bababa;
    border: 15px outset rgb(228, 228, 228);
    font-family: unset;
    color: var(--text-color);
}

.undo-redo {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.undo-redo button {
    width: 50%;
    height: 80px;
    font-size: 2rem;
    border: 15px outset rgb(228, 228, 228);
    background-color: #bababa;
    cursor: pointer;
}

.undo-redo button:hover {
    background-color: #a8a8a8;
}

.covered {
    position: relative;
}

.covered::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #bdbdbd;
    user-select: none;
    box-sizing: content-box;
    box-shadow:
        inset 3px 3px 0px 0px #ffffff,
        inset -3px -3px 0px 0px #7b7b7b;
}

.covered.flagged::before {
    content: "🚩";
}

.smiley-guy {
    cursor: pointer;
}

.smiley-guy:hover {
    background-color: rgb(235, 235, 235);
}

.header h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.header span {
    color: red;
    font-size: 4rem;
}

.safe::before {
    background-color: green;
}

footer {
    position: fixed;
    bottom: -100px;
    left: 50%;
    cursor: pointer;
}

footer button {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
}

.hints,
.safe-click,
.exterminator {
    cursor: pointer;
}
